.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  box-shadow: 2px 2px 30px #64646439;
  margin: 35px;
  padding: 40px 25px;
  border-radius: 16px;
  background-color: #040a2e;
  color: #fff;
}

.member img {
  width: 220px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.member h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 8px 0px;
}

.member p {
  font-size: 16px;
  margin: 18px 0px;
}

.member:hover {
  background-color: #fff;
  color: #143d34;
}

@media screen and (min-width: 1000px) {
  .member {
    width: 20%;
  }

  .member img {
    width: 200px;
  }
}
