.joinCommunity {
  background-color: #e6f5fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  overflow: hidden;
  width: 100%;
}

.joinCommunity h2 {
  font-size: 50px;
  text-align: center;
  color: #000000;
  font-weight: bolder;
}

.joinCommunity a {
  border: none;
  padding: 15px 20px;
  color: #1303f6;
  background-color: #f5e616;
  font-size: 22px;
  border-radius: 8px;
}

.joinCommunity a:hover {
  background-color: #1303f6;
  color: #f5e616;
}
