.SafeGuardingWeb3 {
  background-color: #fff;
  padding: 60px 0px;
  overflow: hidden;
  margin: 0px auto;
  width: 80%;
}

.content {
  width: 80%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content img {
  width: 350px;
  height: auto;
}

.content h2 {
  font-size: 32px;
  color: #000000;
  margin: 40px 0px;
  text-align: center;
}

.content p {
  text-align: center;
  font-size: 18px;
  color: #000;
}

.text span {
  color: #ad35e4;
}

.text a {
  color: #3c174d;
  margin-top: 10px;
  border-bottom: 2px solid #3c174d;
  font-size: 20px;
  padding: 8px 0px;
}

.text a:hover {
  color: #9e15de;
}

@media screen and (min-width: 1150px) {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
  }

  .content img {
    width: 400px;
    margin-right: 20px;
  }

  .content h2 {
    text-align: left;
    font-size: 40px;
  }

  .content p {
    text-align: left;
  }

  .text {
    margin-left: 100px;
    width: 50%;
  }
}
