.WhoAreTheRegenRangers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 80px auto;
}

.WhoAreTheRegenRangers img {
  width: 300px;
  height: auto;
  margin: 20px 0px;
}

.text span {
  color: #38307e;
  font-weight: 700;
}

.text h2 {
  font-size: 45px;
  font-weight: 900;
}

.text p {
  font-size: 20px;
}

@media screen and (min-width: 1000px) {
  .WhoAreTheRegenRangers {
    width: 85%;
    flex-direction: row;
  }

  .WhoAreTheRegenRangers img {
    width: 300px;
    height: auto;
    margin-right: 100px;
  }

  .text {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .text {
    width: 50%;
  }
}
