.benefits {
  background-color: #3c174d;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 60px 10px;
  overflow: hidden;
}

.benefits img {
  width: 300px;
  height: auto;
  margin: 25px 0px;
}

.benefits .texts {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

.texts h3 {
  color: #fff;
  font-size: 28px;
}

.paras {
  margin: 25px 0px;
}

.texts p {
  color: #fff;
}

.link {
  color: #cd89e2;
  padding: 10px 0px;
  border-bottom: 2px solid #cd89e2;
  font-size: 18px;
}

.link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
    padding: 90px 0px;
    width: 80%;
    margin: 0px auto;
  }

  .imgContainer {
    width: 50%;
    text-align: left;
  }

  .benefits img {
    width: 380px;
    height: auto;
    margin: 25px 0px;
  }

  .texts {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
  }

  .texts h3 {
    text-align: left;
    margin: 10px 0px;
    font-size: 30px;
    width: 80%;
  }

  .paras {
    margin: 0;
    text-align: left;
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  .texts h3 {
    font-size: 38px;
  }

  .paras {
    font-size: 18px;
  }

  .container {
    width: 70%;
  }
}
