.coreValues {
  background-color: #fff;
  padding: 40px 0px;
  overflow: hidden;
  width: 90%;
  margin: 0px auto;
}

.coreValues h2 {
  font-size: 40px;
  text-align: center;
  margin: 40px 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 80px 0px;
}

.left {
  display: none;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  box-shadow: 1px 1px 20px #0000001a;
  width: 280px;
  padding: 10px 30px;
  margin: 30px;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.box img {
  width: 250px;
  height: 220px;
  margin-bottom: 10px;
}

.box h4 {
  color: #13011c;
  font-size: 25px;
  margin: 5px 0px;
}

.box p {
  font-size: 18px;
}

.boxPurple {
  box-shadow: 1px 1px 20px #0000001a;
  width: 280px;
  padding: 10px 30px;
  margin: 30px;
  border-radius: 16px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #3c174d;
}

.boxPurple img {
  width: 250px;
  height: 220px;
  margin-bottom: 10px;
}

.boxPurple h4 {
  color: #fff;
  font-size: 25px;
  margin: 5px 0px;
}

.boxPurple p {
  font-size: 18px;
  color: #fff;
}

@media screen and (min-width: 1150px) {
  .content {
    flex-direction: row;
    margin: 60px 0px;
    align-items: center;
  }

  .left {
    display: flex;
    width: 40%;
    margin-right: 30px;
    padding: 20px;
  }

  .left img {
    width: 200px;
    height: 200px;
  }

  .left .text {
    font-size: 20px;
  }

  .left .text h2 {
    text-align: left;
    font-size: 35px;
  }

  .left .text p {
    font-size: 19px;
  }

  .left .text span {
    font-size: 100px;
    margin-right: 20px;
  }

  .right {
    width: 50%;
  }

  .box {
    width: 150px;
    height: 200px;
    margin: 10px;
  }

  .boxPurple {
    width: 150px;
    height: 200px;
    margin: 10px;
  }

  .box img {
    width: 80px;
    height: 120px;
    margin-bottom: 10px;
  }

  .boxPurple img {
    width: 80px;
    height: 120px;
    margin-bottom: 10px;
  }

  .box p {
    display: none;
  }

  .box h4 {
    font-size: 20px;
  }

  .boxPurple h4 {
    font-size: 20px;
  }

  .boxPurple p {
    display: none;
  }

  .box:hover {
    scale: 1.04;
    transition-duration: 0.4s;
    background-color: #dbdbdb;
  }

  .boxPurple:hover {
    scale: 1.04;
    transition-duration: 0.4s;
    background-color: #592272;
  }
}
