.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 80%;
  text-align: center;
  overflow: hidden;
}

.about h2 {
  font-size: 45px;
  color: #2c013a;
}

.about p {
  font-size: 20px;
  color: #000000e4;
}

.about span {
  color: #8b06ca;
}

@media screen and (min-width: 900px) {
  .about {
    height: calc(100vh - 80px);
  }

  .about p {
    font-size: 22px;
    width: 70%;
  }
}
