.blog {
  margin: 5px 0px;
  width: 85%;
  border-top: 1px solid #7f7f7f9c;
  padding-top: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.hovered {
  margin: 5px 0px;
  color: #791ab8;
}

.notHovered {
  margin: 5px 0px;
  color: #000000;
}

.text p {
  color: #000000b9;
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.bottom p {
  margin-right: 20px;
}

.bottom span {
  color: #791ab8;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .blog {
    width: 60%;
  }
}
