.blogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}

.blogs h2 {
  color: #020218;
  font-weight: 900;
  font-size: 40px;
}

.allBlogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
