@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}
